.ingredients-container {
  padding: 20px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-container h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.ingredients-container p {
  font-size: 20px;
  color: black;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.ingredients-container a {
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

.ingredients-container h1 {
  font-size: 24px;
  color: black;
}
